@model EmployeeManagement.Models.Department

<form id="deleteDepartmentForm"
      method="post">

    @Html.AntiForgeryToken()

    <input type="hidden"
           name="departmentId"
           value="@Model.DepartmentId" />

    <h5 class="mb-4 text-danger">

        Delete this department?

    </h5>

    <h4 class="mb-4">

        @Model.DepartmentName

    </h4>

    <button type="submit"
            class="btn btn-danger">

        Delete

    </button>

</form>