@model EmployeeManagement.Models.Department

<div>

    <h4 class="mb-3">
        Department Details
    </h4>

    <hr />

    <p>

        <strong>
            Department Name:
        </strong>

        @Model.DepartmentName

    </p>

</div>