@{
    var successMessage =
        TempData["SuccessMessage"] ?? TempData["Success"];

    var errorMessage =
        TempData["ErrorMessage"] ?? TempData["Error"];
}

@if (successMessage != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3"
         style="z-index: 2000;">

        <div id="successToast"
             class="toast text-bg-success border-0"
             role="alert">

            <div class="d-flex">

                <div class="toast-body">
                    @successMessage
                </div>

                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast">
                </button>

            </div>

        </div>

    </div>
}

@if (errorMessage != null)
{
    <div class="toast-container position-fixed top-0 end-0 p-3"
         style="z-index: 2000;">

        <div id="errorToast"
             class="toast text-bg-danger border-0"
             role="alert">

            <div class="d-flex">

                <div class="toast-body">
                    @errorMessage
                </div>

                <button type="button"
                        class="btn-close btn-close-white me-2 m-auto"
                        data-bs-dismiss="toast">
                </button>

            </div>

        </div>

    </div>
}