@model EmployeeManagement.Models.Role

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Edit Role";
}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-warning">
            <h4>Edit Role</h4>
        </div>

        <div class="card-body">

            <form id="editRoleForm"
                asp-action="Edit"
                method="post">

                <input asp-for="RoleId"
                       type="hidden" />

                <div class="mb-3">
                    <label>Role Name</label>

                    <input asp-for="RoleName"
                           class="form-control" />

                    <span asp-validation-for="RoleName"
                          class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label>Description</label>

                    <textarea asp-for="Description"
                              class="form-control">
                    </textarea>
                </div>

                <button type="submit"
                        class="btn btn-warning">
                    Update
                </button>

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Back
                </a>

            </form>

        </div>

    </div>

</div>